@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.project-gradient {
  background: radial-gradient(
    60% 60% at 70% 35%,
    #ff5db2 1%,
    #e00b7a 15%,
    #9d0654 40%,
    #873660 55%,
    #65133f 70%,
    #880048 100%
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.yl-to-bl-gradient {
  background: linear-gradient(100deg, #313131 0%, #000000 100%);
}

.yellow-gradient {
  background: linear-gradient(180deg, rgba(250, 240, 161, 0) 0%, #ffdb99 100%);
  filter: blur(300px);
}
